.collection__innerSection {
  display: flex;
  justify-content: space-between;
}

.collection__innerSection article {
  margin-right: 30px;
}

.product__info {
  display: flex;
  justify-content: space-between;
}